<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<div class="col-md-4">-->
                <!--<div class="row">-->
                    <!--<div class="form-group col-md-12">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group">-->
                    <!--<button type="button" class="list-group-item">Test Rat</button>-->
                    <!--<button type="button" class="list-group-item">Tom Irons</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-md-offset-1" id="chat-box" v-for="(index, message) in messages">-->
            <div class="col-md-12" v-for="message in messages">
                <div class="row">
                    <!--<div class="col-md-10">-->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{ message.content }}
                            </div>
                            <div class="panel-footer">{{ message.user.name }}</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <form @submit.prevent="create">
                        <div class="input-group input-group-lg">
                            <input v-model="message" type="text" class="form-control" placeholder="Send a message...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </span>
                        </div>
                    </form>
                    {{ messages | json }}
                </div>
            </div>
        </div>
</template>
<script>
    export default{
        data(){
            return{
                message: '',
                messages: []
            }
        },

        ready() {
            this.listen();

            this.getMessages();
        },

        methods: {
            listen() {
                Echo.private('private.channel')
                    .listen('UserHasSentAMessage', (e) => {
                        this.messages.push(e);
                    });
            },
            getMessages() {
                this.$http.get('/chat/messages')
                    .then(response => {
                        this.messages = response.data;
                    });
            },
            create() {
                this.$http.post('/chat/message', {message: this.message}).then((response) => {
                    // success callback
                    console.log(this.message);
                    this.message = '';
                }, (response) => {
                    // error callback
                    console.log('Something went wrong!');
                });
            }
        }
    }
</script>
